@model IEnumerable<LeaveManagementSystem.Models.LeaveRequest>

<h2>My Leave Requests</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LeaveType?.LeaveName</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>@item.Reason</td>
                <td>
                    @if (item.Status == "Approved")
                    {
                        <span class="badge bg-success">
                            Approved
                        </span>
                    }
                    else if (item.Status == "Rejected")
                    {
                        <span class="badge bg-danger">
                            Rejected
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-warning text-dark">
                            Pending
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>